body { background-color: #fafafa; }

/* Style the headings */
h1, h2, h3, h4, #ptac { text-align: center }
.hr01 { height:4px; border-width: 0; background-color: black }

/* Style the tables */
table, th, tr, td { border: 2px solid black; border-collapse: collapse; padding: 5px; font-family: monospace; }
th { background-color: #ddd; }
.tt { width: 100% }

/* Style the tab */
.tab { background-color: #fafafa; overflow: auto; white-space: nowrap; border: 2px solid black; }

/* Style the buttons inside the tab */
.tab button { display: inline-block; background-color: #ddd; border-right: 1px solid black; 
              outline: focus; cursor: pointer; padding: 14px 35px; transition: 0.2s; }

/* Change background color of buttons on hover */
.tab button:hover { background-color: #eee; }

/* Create an active/current tablink class */
.tab .active { background-color: #ccc; }

/* Style the tab content */
.tabcontent { display: none; border: 2px solid black; border-top: none; }

/* Style the close button */
.topright { float: right; cursor: pointer; font-size: 20px; }
.topright:hover { color: red; }

/* Style the 'Top' & 'Bottom' button */
#Top, #Bottom { position: fixed; top: 20px; z-index: 99; border: 2px solid black; outline: focus; 
                background-color: #ccc; color: Black; cursor: pointer; padding: 10px; }

#Top { right: 90px; }
#Bottom { right: 20px; }

#Top:hover, #Bottom:hover { background-color: #eee; }